.about {
	&__container {
		justify-content: flex-start;

		& h1 {
			font-weight: 400;
		}
	}
	&__imgCont {
		height: 12.5rem;
		width: auto;
		max-width: 100%;
		padding-bottom: 1.5rem;
		& img {
			height: 100%;
			width: auto;
		}
	}
}
