.landingPage {
	&__container {
		z-index: 2000000;
		text-align: center;

		&--heading01 {
			color: $colour-navy;
			line-height: 2.4rem;
		}
		&--heading02 {
			line-height: 1.22rem;
			padding: 1.5rem 0;
			letter-spacing: 0.05em;
			// font-weight: 600;
		}
	}

	&__overlay {
		overflow: hidden;
		position: absolute;
		filter: opacity(0.6);
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;

		& img {
			filter: brightness(0.8);
			width: auto;
			height: 100vh;
		}
	}
}
