.listCard {
	flex-direction: column;
	width: 100%;
	height: auto;

	@include respond(tab-port) {
		flex-direction: row;
		justify-content: flex-start;
	}

	&__photo {
		width: 100%;
		height: auto;

		& img {
			border-radius: 15px;
			width: 100%;
			height: auto;
		}
	}
	&__content {
		padding: 1rem 0;
		@include respond(tab-port) {
			padding-top: 0;
			padding-left: 1.5rem;
		}
	}
	& button {
		justify-content: flex-start;
		border: none;
		cursor: pointer;
		box-shadow: none;
	}
}
