.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: $font-small-med;
	color: white;

	&__01 {
		padding: 0.8rem 1.6rem;

		box-shadow: 0px 7px 19px 3px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		background: linear-gradient(90deg, #ff6e40 0%, #df552a 100%);
		transition: all 0.2s ease-in-out;

		&:active,
		&:focus {
			transform: scale(1.05);
		}
	}
	&__02 {
		color: $colour-orange-vibrant-dark;
	}
}

.sidebar__menu--button {
	text-decoration: none;
	color: $colour-navy;
}

.backArrow {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: $colour-navy;

	font-size: $font-med;
	margin-right: 1.2rem;
	background-color: $colour-backArrow;
	height: 2.1rem;
	width: 2.1rem;
	border-radius: 50%;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	&:active,
	&:focus {
		transform: scale(0.97);
	}

	&__directions {
		position: absolute;
		left: 3%;
		top: 8%;
		height: fit-content;
		width: fit-content;
		cursor: pointer;
		border: none;
		background-color: transparent;
		box-shadow: none;
		font-size: $font-small-med;
	}
}

.simpleBtn {
	color: $colour-orange-vibrant-dark;
	text-decoration: none;
}
