.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: $font-small-med;
	color: white;

	&__01 {
		padding: 0.8rem 1.6rem;

		box-shadow: 0px 7px 19px 3px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		background: linear-gradient(90deg, #ff6e40 0%, #df552a 100%);
		transition: all 0.2s ease-in-out;

		&:active,
		&:focus {
			transform: scale(0.97);
		}
	}
	&__02 {
		color: $colour-orange-vibrant-dark;
	}
}

.sidebar__menu--button {
	text-decoration: none;
	color: $colour-navy;
}

.backArrow {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: $colour-navy;

	font-size: $font-med-large;
	margin-right: 1.2rem;
	background-color: $colour-backArrow;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	&:active,
	&:focus {
		transform: scale(0.97);
	}
}

.simpleBtn {
	color: $colour-orange-vibrant-dark;
	text-decoration: none;
}

.cardBtn {
	border: none;
	cursor: pointer;
	width: 32.54px;
	height: 32.54px;
	border-radius: 50%;
	&:not(:last-child) {
		margin-right: 1.2rem;
	}

	&:hover {
		filter: brightness(0.8);
	}

	&__direction {
		position: relative;
		background-color: $colour-orange-vibrant-dark;

		&--arrow {
			color: $colour-backArrow;
			transform: scale(1.6) scaleY(-1);
			rotate: 90deg;
		}
	}

	&__fav,
	&__more {
		background-color: $colour-navy;
	}

	&__fav {
		position: relative;
		&--line {
			background-color: $colour-backArrow;
			width: 0.8rem;
			height: 0.11rem;
			&-02 {
				position: absolute;
				// left: 50%;
				transform: translateY(-25%);
				rotate: 90deg;
			}
		}
	}

	&__more {
		&--dot {
			background-color: $colour-backArrow;
			width: 0.3rem;
			height: 0.3rem;
			border-radius: 50%;
			&:not(:last-child) {
				margin-right: 0.15rem;
			}
		}
	}
}
