.card {
	justify-content: flex-start;
	position: absolute;
	background-color: $colour-backArrow;
	z-index: 110;
	width: 90%;
	height: 9rem;
	transform: translate(-50%, -20%);

	left: 50%;
	box-shadow: 0px 7px 19px 3px rgba(0, 0, 0, 0.2);
	border-radius: 15px;

	opacity: 0;
	visibility: hidden;
	bottom: -2%;

	// bottom: 1%;
	// opacity: 1;
	// visibility: visible;

	transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45%;
		height: 100%;
		overflow: hidden;
		border-radius: 15px 0px 0px 15px;

		& img {
			width: auto;
			height: inherit;
		}
	}

	&__wrapper {
		padding: 0 1rem;
	}

	&__heading {
		padding-bottom: 0.2rem;
		&--main {
			font-weight: 700;
		}
		&--sub {
			color: $font-colour-search-2;
		}
	}

	&__rating {
		&--star {
			color: $colour-gold;
			padding-right: 0.2rem;
		}
	}

	&__buttons {
		padding-top: 0.6rem;
		justify-content: flex-start;
	}

	&__active {
		bottom: 1%;
		opacity: 1;
		visibility: visible;
	}
}
