.card {
	justify-content: flex-start;
	position: absolute;
	background-color: $colour-backArrow;
	z-index: 110;
	width: 90%;
	height: 9.5rem;
	transform: translate(-50%, -20%);

	left: 50%;
	box-shadow: 0px 7px 19px 3px rgba(0, 0, 0, 0.2);
	border-radius: 15px;

	opacity: 0;
	visibility: hidden;
	bottom: -5%;

	@include respond(tab-port) {
		transform: translate(0);
		left: 1.5%;
		width: 25rem;
	}

	// bottom: 1%;
	// opacity: 1;
	// visibility: visible;

	transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

	&__down {
		background: transparent;
		border: none;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0.5rem;
		font-size: $font-small;
	}

	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45%;
		height: 100%;
		overflow: hidden;
		border-radius: 15px 0px 0px 15px;

		& img {
			width: auto;
			height: inherit;
		}
	}

	&__wrapper {
		padding: 0 1rem;
	}

	&__heading {
		padding-bottom: 0.2rem;
		&--main {
			font-weight: 700;
		}
		&--sub {
			color: $font-colour-search-2;
		}
	}

	&__rating {
		&--star {
			color: $colour-gold;
			padding-right: 0.2rem;
		}
		padding-bottom: 0.5rem;
	}

	&__buttons {
		padding-top: 0.6rem;
		justify-content: flex-start;
	}

	&__active {
		bottom: -1%;
		opacity: 1;
		visibility: visible;

		@include respond(tab-port) {
			bottom: 7%;
		}
	}
}

.cardBtn {
	border: none;
	cursor: pointer;
	width: 32.54px;
	height: 32.54px;
	border-radius: 50%;
	&:not(:last-child) {
		margin-right: 1.35rem;
	}

	&:active {
		filter: brightness(0.8);
	}

	&__direction {
		position: relative;
		background-color: $colour-orange-vibrant-dark;

		&--line {
			position: absolute;
			width: 0.7rem;
			height: 2px;
			background-color: $colour-backArrow;

			&:first-child {
				left: 10%;
				bottom: 50%;
				transform: translate(0, 180%) rotate(90deg);
				// rotate: 90deg;
			}
			&:nth-child(2) {
				width: 0.85rem;
				transform: translate(3%, -150%);
			}
			&:nth-child(3) {
				width: 0.4rem;
				transform: translate(30%, -240%) rotate(45deg);
				// rotate: 45deg;
				left: 50%;
			}
			&:last-child {
				width: 0.4rem;
				left: 50%;
				transform: translate(30%, -60%) rotate(135deg);
				// rotate: 135deg;
			}
		}
	}

	&__fav,
	&__more {
		background-color: $colour-navy;
	}

	&__fav {
		position: relative;
		color: $colour-backArrow;
		font-size: $font-card-button;
		&--line {
			background-color: $colour-backArrow;
			width: 0.8rem;
			height: 0.11rem;
			&-02 {
				position: absolute;
				// left: 50%;
				transform: translateY(-50%);
				rotate: 90deg;
			}
		}
	}

	&__more {
		&--dot {
			background-color: $colour-backArrow;
			width: 0.3rem;
			height: 0.3rem;
			border-radius: 50%;
			&:not(:last-child) {
				margin-right: 0.15rem;
			}
		}
	}
}

.star {
	&__Outer {
		display: inline-block;
		position: relative;
	}
	&__Inner {
		position: absolute;
		top: 0;
		left: 0;
		white-space: nowrap;
		overflow: hidden;
		width: 50%;
		&::before {
			content: "\f005 \f005 \f005 \f005 \f005";
			color: $colour-gold;
		}
	}
}
