// .directions-control-instructions,
.mapbox-directions-profile,
.mapbox-directions-instructions,
.geocoder-pin-right,
.directions-icon-reverse,
.directions-control-inputs {
	display: none;
}

.directions {
	&__cont {
		position: fixed;
		transform: translateX(-50%);

		background: #ffffff;
		box-shadow: 0px 7px 7px 3px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		z-index: 110;
		transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

		// left: 50%;
		// top: 3%;
		// padding: 0.7rem;
		// width: 90%;
		visibility: hidden;
		opacity: 0;
		// top: 6%;

		left: 23%;
		top: 15%;
		padding: 0.6rem;
		width: 35%;
		// opacity: 1;
		// visibility: visible;

		&--active {
			top: 12%;
			opacity: 1;
			visibility: visible;
		}

		&--box {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			// padding: 0.3rem 0.5rem 0 0.8rem;
		}
	}

	&__icons {
		height: 100%;
		:first-child {
			padding-bottom: 1.7rem;
		}
	}

	&__icon {
		width: 1rem;
		height: 1rem;
		& img {
			height: auto;
			width: 100%;
		}
	}
	// &__dot {
	// 	border: none;
	// 	width: 0.2rem;
	// 	height: 0.2rem;
	// 	margin: 0.2rem;
	// 	border-radius: 50%;
	// 	background-color: $font-colour-search;
	// }
}

.mapbox-directions {
	&-origin {
		margin-bottom: 0.6rem;
	}

	&-origin,
	&-destination {
		& input {
			font-size: $font-small;
			color: $font-colour-search-2;
			border: none;
			background: transparent;
			margin-left: 1.5rem;

			&:focus {
				outline: none;
			}
		}
		margin-left: 0.5rem;
	}
	&-route-summary {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		justify-content: space-around;
		color: $font-colour-search;

		& h1,
		& span {
			font-size: $font-small;
			padding: 0.3rem;
		}
	}
}
