// .directions-control-instructions,
.mapbox-directions-profile,
.mapbox-directions-instructions,
.geocoder-pin-right,
.directions-icon-reverse,
.directions-control-inputs {
	display: none;
}

.directions {
	&__cont {
		position: absolute;
		transform: translateX(-50%);

		background: $colour-gold;
		box-shadow: 0px 7px 7px 1px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		z-index: 110;
		transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

		opacity: 0;
		visibility: hidden;
		left: 20%;
		bottom: 29%;
		padding: 0.6rem;
		width: 90%;
		// opacity: 1;
		// visibility: visible;

		&--active {
			left: 50%;
			opacity: 1;
			visibility: visible;
		}

		&--box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
	}

	&__icons {
		height: 100%;
		&:first-child {
			margin-right: 0.2rem;
		}
	}

	&__icon {
		width: 1rem;
		height: 1rem;
		& img {
			height: auto;
			width: 100%;
		}
		&:last-child {
			position: absolute;
			left: 54%;
		}
	}
}

.mapbox-directions {
	&-origin {
		margin-bottom: 0.6rem;
	}

	&-origin,
	&-destination {
		& input {
			font-size: $font-small;
			color: $font-colour-search-2;
			border: none;
			background: transparent;
			margin-left: 1.5rem;

			&:focus {
				outline: none;
			}
		}
		margin-left: 0.5rem;
	}
	&-route-summary {
		display: flex;
		align-items: center;
		justify-content: space-around;
		color: $colour-navy;

		& h1,
		& span {
			font-size: $font-small;
			font-weight: 400;
		}

		& h1 {
			padding-right: 2rem;
		}
	}
}
