.mapboxgl-ctrl {
	&-geocoder {
		display: flex;
		align-items: center;

		box-shadow: none;
		background-color: $colour-searchBar;
		color: $font-colour-search;
		border-radius: 56rem;
		height: 2.4rem;
		width: 93%;
		font-family: "Lato", sans-serif;
		margin-left: 0.5rem;
		transition: width 0.3s ease-in-out;

		&--input {
			&:focus {
				outline: none;
			}
		}

		&--button {
			background: transparent;
			transform: translateY(-4px);
		}
		&--icon {
			&-search {
				top: 25%;
			}
		}
	}
}

.geocoder {
	display: flex;
	align-items: center;
}
