.loader {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
		background-color: $colour-searchBar;
		transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
		&--image {
			transform: translateY(-10%);

			width: auto;
			height: 20%;

			& img {
				width: auto;
				height: 100%;
			}
		}
		&--hidden {
			height: 0;
			opacity: 0;
			visibility: hidden;
		}
	}
}
