.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 115;
	// visibility: visible;
	// opacity: 1;
	opacity: 0;
	visibility: hidden;

	height: 100vh;
	width: 0;

	// width: 19rem;
	background-color: white;
	transition: all 0.3s ease-in-out;

	&__active {
		visibility: visible;
		opacity: 1;
		width: 19rem;

		@include respond(tab-port) {
			width: 25rem;
		}
	}

	&__banner {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2.2rem;
	}
	&__close {
		cursor: pointer;
		background: transparent;
		border: none;
		font-size: $font-med-large;
		padding-right: 0.8rem;

		@include respond(tab-port) {
			position: absolute;
			left: 8%;
		}
	}
	&__heading {
		font-size: $font-sidebar;
		font-weight: 400;
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		z-index: 114;
		background-color: $colour-overlay-black;
		transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);

		&--active {
			visibility: visible;
			opacity: 1;
		}
	}
	&__menu {
		margin-top: 1rem;
		&--imgCont {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 1.3rem;
			overflow: hidden;
			font-size: $font-med-large;
			color: $colour-orange-vibrant-dark;
			& img {
				width: auto;
				height: 100%;
			}
		}
		&--btn {
			padding: 1.1rem 2.5rem;
			justify-content: flex-start;
			transition: background-color 0.3s ease;

			&:active,
			&:hover {
				background-color: $colour-searchBar;
			}
		}
	}
}

.contribution {
	position: absolute;
	bottom: 2%;
	left: 9.5rem;
	transform: translateX(-50%);

	@include respond(tab-port) {
		left: 50%;
	}

	& a {
		text-decoration: none;
		color: $font-colour-primary;
	}
}

.creditsPara {
	& a {
		text-decoration: none;
		color: $font-colour-primary;
	}
}
