.flex {
	display: flex;

	&__jc-sb {
		justify-content: space-between;
	}

	&__jc-center {
		justify-content: center;
	}

	&__ai-center {
		align-items: center;
	}

	&__dir-col {
		flex-direction: column;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
	align-items: start;
	gap: 2rem;

	@include respond(tab-port) {
		grid-template-columns: repeat(2, minmax(13rem, 1fr));
		gap: 2.5rem;
	}
}

section {
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	padding: 2rem;
}

.divider {
	height: 2px;
	width: 100%;
	background-color: $colour-divider;
	margin: 1.5rem 0;
}

.paragraph {
	color: $font-colour-primary;
	font-size: $font-small;

	@include respond(tab-port) {
		font-size: $font-small-med;
		line-height: 2rem;
	}
}

.listFavHeader {
	position: fixed;
	top: 0;
	line-height: 2.3rem;
	justify-content: start;
	height: fit-content;
	padding: 1rem 2rem;
	width: 100%;
	background-color: $colour-gold;
	box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.2);
}

.fixedHeadSpacing {
	margin-top: 0rem;
	&__2 {
		margin-top: 0rem;
	}
}

.centerDesktop {
	@include respond(tab-port) {
		padding: 3rem 15%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.spaceTop {
	margin-top: 4rem;
}
