.flex {
	display: flex;

	&__jc-sb {
		justify-content: space-between;
	}

	&__jc-center {
		justify-content: center;
	}

	&__ai-center {
		align-items: center;
	}

	&__dir-col {
		flex-direction: column;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
	align-items: start;
	gap: 2.5rem;

	@include respond(phone) {
		gap: 1rem;
	}
}

section {
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	padding: 2rem;
}

.divider {
	height: 2px;
	width: 100%;
	background-color: $colour-divider;
	margin: 1.5rem 0;
}

.paragraph {
	color: $font-colour-primary;
	font-size: $font-small;
}
