.heading-1 {
	font-size: $font-med-large;
	font-weight: 700;
}

.heading-2 {
	font-size: $font-med;
	font-weight: 400;
}

.heading-3 {
	font-size: $font-small-med;
	font-weight: 400;
}

.heading-4 {
	font-size: $font-small;
	font-weight: 400;
}
