// -------------- Font Colours -------------- //
$colour-orange-vibrant-light: #ff6e40;
$colour-orange-vibrant-dark: #df552a;
$colour-gold: #ffc13b;
$colour-navy: #1e3d59;
$font-colour-primary: #9e9e9e;
$font-colour-search: #c0c0c0;
$font-colour-search-2: #979797;
$colour-searchBar: #e9e9e9;
$colour-divider: #dcdcdc87;
$colour-backArrow: #f5f0e1;
$colour-popup: #e2aa76;
$colour-popup02: #f0c094;
$colour-overlay-black: rgba(#000000, 0.6);

// -------------- Font sizes -------------- //

$font-small: 0.8rem; //14px
$font-small-med: 1rem; //18px
$font-med: 1.2222rem; //22px
$font-sidebar: 1.7rem;
$font-card-button: 1.5rem;
$font-med-large: 2rem; //36px

$font-large: 3rem; //64px
